/*
 |--------------------------------------------------------------------------
 | Application components
 |--------------------------------------------------------------------------
 |
 | Components of your application are defined in this file.
 | https://tailwindcss.com/components/
 |
 */

#nprogress {
	@apply pointer-events-none;

	.bar {
		@apply fixed top-0 left-0 w-screen bg-indigo-400;
		height: 2px;
		z-index: 4096;
	}
}
