name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run:
    name: P${{ matrix.php }} - L${{ matrix.laravel }}
    runs-on: ubuntu-latest

    env:
      DB_CONNECTION: mysql
      DB_DATABASE: laravel
      DB_USERNAME: root
      DB_PASSWORD: password

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: laravel
        ports:
          - 3306/tcp
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    strategy:
      fail-fast: false
      matrix:
        php: [7.4]
        laravel: [^8.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          coverage: none

      - name: Start mysql service
        run: sudo /etc/init.d/mysql start

      - name: Create Laravel app
        run: composer create-project laravel/laravel=${{ matrix.laravel }} ../app --prefer-dist

      - name: Install preset
        run: |
          cd ../app
          npx use-preset laravel-inertia --vue --debug --no-interaction

      - name: Install dependencies
        run: |
          cd ../app
          composer update

      - name: Compile front-end
        run: |
          cd ../app
          yarn prod --verbose

      - name: Execute tests
        run: |
          cd ../app
          vendor/bin/phpunit --verbose
        env:
          DB_PORT: ${{ job.services.mysql.ports['3306'] }}
